<app-menu></app-menu>
<div class="container container-table">

    <div class="row">
        <div class="col">
            <p-table #dt1 [value]="arboles" dataKey="id" [paginator]="true" [rows]="5" [showCurrentPageReport]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="centered-text">Foto</th>
                        <th class="centered-text">Nombre del arbol</th>
                        <th class="centered-text">Familia perteneciente</th>
                        <th class="centered-text">Descripción</th>
                        <th class="centered-text">Época de floración</th>
                        <th class="centered-text">Estado</th>
                        <th class="centered-text">Acciones</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="caption">
                    <div class="flex justify-content-end">
                        <button class="btn btn-success button-space" (click)="abrirAnadir()" style="margin-left:  85%;">
                            <i class="fas fa-plus"></i> Añadir arboles
                        </button>
                    </div>
                </ng-template>

                <ng-template pTemplate="body" let-arbol>
                    <tr>
                      @if (arbol.foto != null) {
                        <td class="centered-text img-preview"><img src="{{arbol.foto}}" alt="Imagen del arbol" width="100" height="100"></td>
                      } @else {
                        <td class="centered-text img-preview" ><img src="assets/fondo.jpg" alt="Imagen defecto" width="100" height="100"></td>
                      }
                        <td class="centered-text">{{arbol.nombre}}</td>
                        <td class="centered-text">{{arbol.nombre_familia}}</td>                        <td class="centered-text">{{arbol.descripcion}}</td>
                        <td class="centered-text">{{arbol.ep_floracion}}</td>
                        <td class="centered-text">{{arbol.desactivado == 0 ? 'Activo' : 'Inactivo' }}</td>
                        <td class="centered-text">
                            <button class="btn btn-primary button-space" (click)="abrirEditar(arbol)">Editar</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<ng-template #editar let-modalEditar>
    <div class="modal-body p-4 py-5 p-md-5">
        <h3 class="text-center mb-3">Editar arbol</h3>
        <form class="signup-form">
                   <p-toast></p-toast>
            <div class="form-group mb-2">
                <label>Número del arbol</label>
                <input type="text" [readonly]="true" class="form-control mb-2" name="idTarea" required
                    [(ngModel)]="arbolSeccionado.id">
            </div>

            <div class="form-group mb-2">
                <label >Nombre del arbol</label>
                <input type="text" class="form-control mb-2" name="nombre" required
                    [(ngModel)]="arbolSeccionado.nombre">
            </div>
            <label>Familia</label><br>
              <select (change)="actualizarFamilia($event)" name="id_familia" >
                @for (familia of Familias; track familia.id) {
                  @if (familia.id == arbolSeccionado.id_familia) {
                    <option value="{{familia.id}}" selected>{{familia.nombre}}</option>
                  } @else {
                    <option value="{{familia.id}}">{{familia.nombre}}</option>
                  }
                }

              </select>
            <br>
            <div class="form-group mb-2">
                <label >Descripcion del arbol</label>
                <textarea class="form-control mb-2" name="descTarea" rows="5" required [(ngModel)]="arbolSeccionado.descripcion"></textarea>
            </div>

            <div class="form-group mb-2">
                <label >Época de floración del árbol</label>
                  <p-calendar [(ngModel)]="fechaArbol" view="month" dateFormat="MM" [ngModelOptions]="{standalone: true}" ></p-calendar>
            </div>

          <div class="form-group mb-2">
            <label >Imagen principal</label>
            <p-fileUpload #fileUpload mode="advanced" chooseLabel="Seleccionar imagen" name="archivo" [customUpload]="true"
                          (uploadHandler)="editarArbol(arbolSeccionado.id, $event)"
                          [maxFileSize]="5000000" accept="image/*" cancelLabel="Cancelar"
                          [showCancelButton]="true" uploadLabel="Actualizar imagen" [showUploadButton]="false">
            </p-fileUpload>
          </div>

            <div class="form-group mb-2">
                <label >Estado</label>
                <div class="flex justify-content-center">
                  <p-inputSwitch class="input-switch" [(ngModel)]="arbolSeccionado.desactivado" [ngModelOptions]="{standalone : true}" ></p-inputSwitch>
                </div>

            </div>

            <div class="form-group mb-2">
                <button (click)="fileUpload.upload()" type="submit" class="form-control btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #anadir let-modalEditar>
    <div class="modal-body p-4 py-5 p-md-5">
        <h3 class="text-center mb-3">Añadir arbol</h3>
        <form class="signup-form">
            <p-toast></p-toast>
            <div class="form-group mb-2">

                <label>Nombre del arbol</label>
                <input type="text" class="form-control mb-2" name="descTarea" required
                    [(ngModel)]="arbol.nombre">
                <label >Familia</label><br>
                <select (change)="actualizarFamilia($event)" name="id_familia" id="">
                    @for (familia of Familias; track familia.id) {
                        <option value="{{familia.id}}">{{familia.nombre}}</option>
                    }
                </select>

                <div class="form-group mb-2">
                  <label >Descripción del arbol</label>
                  <textarea class="form-control mb-2" name="descTarea" rows="3" required [(ngModel)]="arbol.descripcion"></textarea>
                </div>

                <div class="flex justify-content-center">
                  <label >Época de floración del árbol</label>
                  <p-calendar [(ngModel)]="fecha" view="month" dateFormat="MM" [ngModelOptions]="{standalone: true}" ></p-calendar>

                </div>

                <div class="form-group mb-2">
                  <label >Imagen principal <strong>(Obligatoria)</strong></label>
                  <p-fileUpload #fileUpload mode="advanced" chooseLabel="Seleccionar imagen" name="archivo" [customUpload]="true"
                                (uploadHandler)="anadirArboles($event)"
                                [maxFileSize]="5000000" accept="image/*" cancelLabel="Cancelar"
                                [showCancelButton]="true" uploadLabel="Subir imagen" [showUploadButton]="false">
                  </p-fileUpload>
                </div>


            </div>

            <div class="form-group mb-2">
                <button type="submit" class="form-control btn btn-primary" (click)="fileUpload.upload()">Añadir</button>
            </div>
        </form>
    </div>
</ng-template>



<ng-template #eliminar let-modal>
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
                <h4 class="modal-title w-100">¿Estás seguro?</h4>
            </div>
            <div class="modal-body">
                <p>¿Estas seguro de eliminarlo? Este proceso no podra ser deshecho.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-primary" (click)="modal.dismiss('Cancel click')">Cancelar</button>
            </div>
        </div>
    </div>
</ng-template>
