.tree-container {
    margin-top: 150px;
}

.content {
    padding: 20px;
}

.row-section {
    margin-top: 50px;
}

.font-bold {
    font-weight: 600;
}

.map-container {
    border-radius: 10px;
    width: 85%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.card{
    display: flex;
    flex-direction: column;
    color: var(--color_2);
    border: none;
   
}

.card-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.row-gallery{
    .card-img{
        margin: 10px;
    }
}



@media (max-width: 768px) {
    .map-container {
        height: 250px;
    }
}

