<app-menu></app-menu>

<div class="tree-container container">
    <div class="row p-4">
        <div class="col-lg-6 col-md-12">
            <img src="../../../assets/fondo.jpg" class="img-fluid rounded" alt="Tree Image">
        </div>
        <div class="content col-lg-6 col-md-12 mt-4 mt-lg-0">
            <div class="card-body">
                <h2 class="tree-title font-bold mb-3">Arbol de prueba</h2>
                <p class="font-semibold mb-2">Familia: Fam</p>
                <p class="mb-2"><i class="pi pi-tag"></i> Época de floración: Floracion</p>
            </div>
            <div class="card-body mt-3">
                <h3 class="font-bold mb-3">Descripción</h3>
                <p class="mb-2">Aquí puedes agregar información adicional sobre el árbol seleccionado, como su
                    descripción,
                    características especiales, etc.</p>
                <p class="mb-2">También podrías mostrar más detalles específicos del árbol, según tus necesidades.</p>
            </div>
        </div>
    </div>


    <div class="row row-section p-4">

        <div class="col-lg-12">
            <div class="card-body">
                <h1 class="font-bold mb-3">Mapa</h1>

              @if (authService.esCliente()){
                <p>¿Hay un árbol que no aparece en el mapa? ¡Añadelo <a [routerLink]="['/ubicacion', arbolId]">aquí!</a></p>
              }

                <div #mapDiv class="map-container"></div>

            </div>
        </div>
    </div>

    <div class="row row-section p-4">
        <div class="col-lg-12">
            <div class="card-body">
                <h1 class="font-bold mb-3">Galería</h1>
              @if (authService.esCliente()){
                <p>¿Tienes fotos de este árbol? ¡Añadelas <button  (click)="mostrarAddImagen()" class="btn btn-primary">aquí!</button> </p>
                <p-dialog header="Añadir imagen" [(visible)]="addImagen" [modal]="true" [closable]="true"
                    [responsive]="true" [style]="{width: '50vw'}">
                    <p>Sube una imagen para este árbol</p>
                  <div class="flex justify-content-center">
                    <p-toast></p-toast>
                    <p-fileUpload
                      mode="advanced"
                      chooseLabel="Seleccionar imagen"
                      name="archivo" [customUpload]="true"
                      (uploadHandler)="subirImagenArbol($event)"
                      [maxFileSize]="5000000" accept="image/*"
                      cancelLabel="Cancelar"
                      [showCancelButton]="true"
                      uploadLabel="Subir imagen"
                      [showUploadButton]="true"
                    >

                    </p-fileUpload>
                  </div>
                </p-dialog>
              }

              <!-- @for (ruta of rutas; track ruta.id){
                <div class="grid grid-nogutter justify-content-center">
                    <img [src]="ruta.thumbnailImageSrc" class="img-fluid rounded" alt="Tree Image">
                </div>
              } -->


            </div>
        </div>

        <!-- <div class="card-wrapper container-fluid">
          <p-dataView #dv [value]="items" [rows]="6" [paginator]="true">
              <ng-template let-arboles pTemplate="list">
                  <div class="row">
                      <ng-container *ngFor="let item of items; let i = index">
                          <div class="col-lg-3 col-md-4 col-sm-6">
                              <div class="card">
                                  <img [src]="item.thumbnailImageSrc" class="card-img-top" alt="Tree Image">
                                  <div class="card-body"></div>
                              </div>
                          </div>
                      </ng-container>
                  </div>
              </ng-template>
          </p-dataView>
      </div> -->

        <div class="card-wrapper container-fluid">
          <p-dataView #dv [value]="fotos" [rows]="2" [paginator]="true" >
            <ng-template let-otro pTemplate="list">

              <div class="row">

                <ng-container>
                  @for (item of fotos; track item.id){
                  <div class="col-lg-3 col-md-4 col-sm-6">
                      <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card ">
                          <img src="{{item.thumbnailImageSrc}}" class="card-img-top" alt="Tree Image">
                          <div class="card-body">
                          </div>
                        </div>
                      </div>

                  </div>
                }
                </ng-container>

              </div>
            </ng-template>
          </p-dataView>
        </div>

    </div>
</div>
