<div class="d-flex">
    <div class="dropdown">
      <button class="btn btn-outline-primary me-2 avatar" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ obtenerInicial(nombreUsuario) }}
      </button>
      
      <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/perfil">
          <i class="fas fa-user"></i> Perfil
        </a>

        @if(authService.esOrganizador()){
          <a class="dropdown-item" routerLink="/mis-eventos">
            <i class="fas fa-calendar-alt"></i> Mis eventos
          </a>
        }
        
        <a class="dropdown-item" href="#" (click)="authService.logOut()">
          <i class="fas fa-sign-out-alt"></i> Cerrar sesión
        </a>
      </div>
    </div>
  </div>
  