<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        <!-- Login form -->
        <form (ngSubmit)="login()">
          <p-toast></p-toast>
          <div class="mb-3">
            <label for="username" class="form-label">Email</label>
            <input type="email" [(ngModel)]="usuario.email" class="form-control" name="email"
              placeholder="Ingresa tu email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" [(ngModel)]="usuario.passwd" class="form-control" name="passwd"
              placeholder="Ingresa tu contraseña" required>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-log">Iniciar Sesión</button>
          </div>
        </form>

     
        <div class="text-center">
          <p>¿No estás registrado? <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal" data-bs-dismiss="modal">Regístrate aquí.</a></p>
        </div>
        <div class="text-center">
          <p>¿Has olvidado tu contraseña? <a href="#" data-bs-toggle="modal" data-bs-target="#recuperarContraseñaModal" data-bs-dismiss="modal">Obtén una nueva aquí.</a></p>
        </div>
        

      </div>
    </div>
  </div>
</div>
