<app-menu></app-menu>


<div class="card-wrapper container-fluid">

  <p-dataView #dv [value]="noticias" [rows]="8" [paginator]="true">
    <ng-template let-arboles pTemplate="list">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarContenido">Agregar
        contenido</button>
      <div class="row">
        <h1 class="font-bold mb-3">Noticias</h1>
        <ng-container>
          <div class="card-container">
            @for (item of arboles; track item.id){
            <a class="card mb-4" [routerLink]="[item.id]">
              <img src="../../../assets/fondo.jpg" class="card-img-top" alt="Tree Image">
              <div class="card-body text-center">
                <h5 class="card-title">{{ item.titulo }}</h5>
                <p class="card-text">{{ item.resumenDesc }}</p>
              </div>
            </a>
            }
          </div>
        </ng-container>
      </div>
    </ng-template>
  </p-dataView>

</div>



<div class="modal fade modal-extended" id="agregarContenido" tabindex="-1" aria-labelledby="registerModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-4 py-5 p-md-5 wide-content">
        <p-toast></p-toast>
        <h3 class="text-center mb-3">Añadir contenido</h3>
        <form (submit)="enviarNoticia()">
          <div class="form-group mb-2">
            <label for="email">Titulo</label>
            <input type="text" class="form-control mb-2" name="cabecera" required [(ngModel)]="noticia.titulo">
          </div>

          <div class="form-group mb-2">
            <label for="email">Resumen del contenido</label>
            <input type="text" class="form-control mb-2" name="cabecera" required [(ngModel)]="noticia.resumenDesc">
          </div>


          <div class="form-group mb-2" style="max-height: 300px; overflow-y: auto;">
            <label for="name">Contenido</label>
            <quill-editor [modules]="modulesQuill" (onEditorChanged)="onChangedEditor($event)"></quill-editor>
          </div>

          <div class="form-group mb-2">
            <button type="submit" class="form-control btn btn-primary">Añadir</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>