<app-menu></app-menu>
<section data-bs-version="5.1" class="hero-section" id="header14-2y">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg mt-5 py-5 mt-lg-0 pt-lg-0">
        <div class="text-wrapper">
          <h1 class="hero-title mb-4">
            Explora la naturaleza
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos vero amet explicabo! Laboriosam
            incidunt, eveniet, ut sunt repudiandae impedit animi necessitatibus consequatur commodi corporis dolorum,
            tempore laudantium! Molestias, sunt tempora!
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="image-wrapper">
          <img src="../../../assets/fondo.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features3">
  <div class="container">
    <div class="card-header">
      <h4>
        ¿Qué vas a encontrar? <br />
      </h4>
    </div>
    <div class="row mt-5">
      <div class="сol-12 col-md-6 col-lg-4">
        <div class="element-wrapper">
          <div class="item-content">
            <h5 class="item-title mbr-fonts-style display-5">
              No Coding
            </h5>

            <p class="mt-3 display-7">
              Mobirise is an easy website builder.
              Just drop site elements to your page,
              add content and style it to look the
              way you like.
            </p>
          </div>
          <div class="item-footer mt-2">
            <a href="" class="btn btn-success item-btn display-4" target="_blank">Learn More &gt;</a>
          </div>
        </div>
      </div>
      <div class="сol-12 col-md-6 col-lg-4">
        <div class="element-wrapper">
          <div class="item-content">
            <h5 class="item-title mbr-fonts-style display-5">
              Mobile Friendly
            </h5>

            <p class="mbr-text mbr-fonts-style mt-3 display-7">
              You don't have to code to create your
              own site. Select one of available
              themes in the Mobirise Site Maker.
            </p>
          </div>
          <div class="mbr-section-btn item-footer mt-2">
            <a href="" class="btn btn-success item-btn display-4" target="_blank">Learn More &gt;</a>
          </div>
        </div>
      </div>
      <div class="item features-image сol-12 col-md-6 col-lg-4">
        <div class="element-wrapper">
          <div class="item-content">
            <h5 class="item-title display-5">
              Unique Styles
            </h5>

            <p class="mt-3 display-7">
              Select the theme that suits you. Each
              theme in the Mobirise Website Software
              contains a set of unique blocks.<br />
            </p>
          </div>
          <div class="mbr-section-btn item-footer mt-2">
            <a href="" class="btn btn-success item-btn" target="_blank">Learn More &gt;</a>
          </div>
        </div>
      </div>

      <div class="item features-image сol-12 col-md-6 col-lg-4"></div>
      <div class="item features-image сol-12 col-md-6 col-lg-4"></div>
      <div class="item features-image сol-12 col-md-6 col-lg-4"></div>
    </div>
  </div>
</section>