<app-menu></app-menu>
<section data-bs-version="5.1" class="hero-section" id="header14-2y">
  <div class="container container-intro">

    <div class="row">

      <div class="col-12 col-lg mt-5 py-5 mt-lg-0 pt-lg-0">
        @if(authService.esAdmin()){
        <button class="btn btn-primary button-space" (click)="abrirEditar()">Editar contenido</button>
        }
        <div class="text-wrapper">
          <h1 class="hero-title mb-4 typed">
            {{contenidoInicio.titulo}}
          </h1>
          <div [innerHTML]="contenidoInicio.descripcion"></div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="image-wrapper">
          <img src="../../../assets/fondo.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>


<ng-template #editar let-modalEditar>
  <p-toast></p-toast>
  <div class="modal-body p-4 py-5 p-md-5">
    <h3 class="text-center mb-3">Añadir contenido</h3>
    <form class="edit-form" (ngSubmit)="modificarContenidoInicio()">
      <div class="form-group mb-2">
        <label for="email">Cabecera</label>
        <input type="text" class="form-control mb-2" name="cabecera" required [(ngModel)]="contenidoInicio.titulo">
      </div>

      <div class="form-group mb-2">
        <label for="name">Contenido</label>
        <quill-editor [modules]="modulesQuill" (onEditorChanged)="onChangedEditor($event)" 
        [(ngModel)]="contenidoInicio.descripcion" name="descripcion"></quill-editor>
      </div>

       <div class="form-group mb-2">
            <button type="submit" class="form-control btn btn-primary">Añadir</button>
          </div>
    </form>
  </div>
</ng-template>


<section data-bs-version="5.1" class="features3">
  <div class="container container-news">
    <div class="card-header">
      <h2 class="hero-title mb-4">
        Últimas noticias <br />
      </h2>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-5">
      @for (noticia of noticias; track noticia.id)
      {
      <div class="col mb-4">
        <a class="card h-100" [routerLink]="['noticias',noticia.id]">
          <img [src]="noticia.imagen" class="card-img-top" alt="Tree Image">
          <div class="card-body text-center">
            <h5 class="card-title">{{ noticia.titulo }}</h5>
            <p class="card-text">{{ noticia.resumenDesc }}</p>
          </div>
        </a>
      </div>
      }
    </div>
  </div>
</section>