.mapa-container {
  margin-top : 100px
}

.map-container {
  border-radius: 10px;
  width: 85%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.content {
  padding: 20px;
}

.row-section {
  margin-top: 50px;
}

.font-bold {
  font-weight: 600;
}

