/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

:root {
    --color_1: #2e6b75;
    --color_2: #333;
    --color_3: #fff;
    --color_4: #999;
    --color_5: #636363;
    --color_6: #f15e5es;
    --color_7: #91c2be;
    --color_8: #f15e5e;
    --background-color_1: #fff;
    --background-color_2: #2e6b75;
    --background-color_3: #91c2be;
    --background-color_4: #49aea9;
    --background-color_5: #f15e5e;
    --background-color_6: #ee3535;
    --background-color_7: #999;
    --background-color_8: #dcf3f1;
}

//Botones
.btn-primary {
    border-radius: 4px;
    background: var(--background-color_2);
    border: none;
    margin: 0 5px;
    &:hover {
        background: var(--background-color_4);
    }

    &:active {
        background: var(--background-color_4) !important;
    }
}

.btn-danger {
    border: none;
    background: var(--background-color_6);
    &:hover {
        background: var(--background-color_5);
    }

    &:active {
        background: var(--background-color_5) !important;
    }
}

.btn-success {
    border: none;
    background: var(--background-color_4);

    &:active {
        background: var(--background-color_5) !important;
    }

    &:hover {
        background: var(--background-color_4) !important;
    }
}

//Tablas
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: var(--background-color_1);
    color: var(--color_2);
}

:host ::ng-deep .p-datatable-header {
    background-color: var(--background-color_2);
}

.container-table {
    margin-top: 50px;
    padding: 20px;
}

.centered-text {
    text-align: center;
}

.button-space {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .button-space {
        margin-left: 0;
        margin-top: 10px;
    }
}



