/* Personalización de estilos para el formulario de registro en el modal extendido */
.modal-extended .modal-dialog {
    max-width: 750px; 
}

.modal-extended .modal-body {
    padding: 30px;
}

.modal-extended .form-label {
    font-weight: bold;
}

.modal-extended .btn-primary {
    width: 100%;
    margin-top: 20px; 
}

/* Estilos adicionales para el modal */
.modal-content {
    padding: 20px;
}

.modal-header {
    border: none;
    display: flex;
    justify-content: center;
}

/* Estilos para el título del modal */
.modal-title {
    padding-left: 10px;
    display: flex;
    justify-content: center; 
    margin-bottom: 0;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: var(--color_1);

    &:hover {
        font-weight: 600;
    }
}

.input-group-text {
    position: absolute;
    top: 50%;
    right: 0.2rem;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
}