<app-menu></app-menu>


<div class="card-wrapper container rutas-container">
  <p-toast></p-toast>
  <div class="row">
   

    <div class="container">

      <div class="row">
        <h1 class="font-bold mb-3 ">Genera una ruta</h1>
        <p>¿Cuál es la distancia máxima en la que quieres encontrar arboles?</p>
      </div>

     
      <div class="row">
        <div class="col-sm-4">
          <label for="distancia">
            <select (change)="actualizarRadio($event)" class="form-control" id="distancia">
              <option value="1">1 km</option>
              <option value="5">5 km</option>
              <option value="10">10 km</option>
            </select>
          </label>
        </div>
      </div>
    </div>


    @if(!customUbication){
      <div class="row row-btn"> 
        <input type="button" class="btn btn-primary input" value="Usar ubicación actual" (click)="obtenerUbicacionUsuario()">
        <input type="button" class="btn btn-primary input" value="Marcar una ubicación" (click)="obtenerRuta()">
      </div>
     
    }


    <div class="mapa-container">
      <div class="row row-section p-4">
        <div class="col-lg-12">
          <div class="card-body">
            <p class="mb-3">Para seleccionar tu ubicación posicionate donde quieras en el mapa y pulsa en él</p>
            <div class="d-flex justify-content-center align-items-center">

            </div>
            <div #mapaDiv class="map-container"></div>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>
